html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */
}

/* Lists */

ul{
    margin: 0;
    padding: 0;
}

/* Container */

#container{
	position: relative;
	padding: 20px 40px;
}

/* Menu Button */

.menu-btn{
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

.menu-btn:hover{
	background: #00b4ff;
	color: #FFF;
}