*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}

html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   line-height: 1.4em;
}

/* Links */

a{
	color: #00b4ff;
	text-decoration: none;
}

a:hover{
	color: #000;
}

/* Headings*/

h1{
	font-size: 2.4em;
}

h2{
	border-bottom: 1px solid #D9D9D9;
	padding: 0 0 5px 0;
}

/* Lists */

nav ul{
    margin: 0;
    padding: 0;
}

/* Container */

#container{
	position: relative;
	padding: 20px 40px;
}

/* Menu Button */

.menu-btn{
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

.menu-btn:hover{
	background: #00b4ff;
	color: #FFF;
}

/* Header */

header{
	position: relative;
	background: #000; 
	color: #FFF; 
	padding: 20px 40px;
}

/* Footer */

footer{
	font-size: 0.9em;
	text-align: center;
}

/* Custom Scroll Bars */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(156, 156, 156, .5);
}