*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

p{
	line-height: 1.3em;
}

ul{
    margin: 0px;
    padding: 0px;
}

#container{
	position: relative;
	padding: 20px;
}

.menu-btn{
	width: 100px;
	padding: 10px;
	background: #EFEFEF;
	text-align: center;
	cursor: pointer;
}