/*! Pushy - v0.8.3 - 2013-5-23
* Pushy is an off-canvas navigation menu for your website.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #333332;
    font-size: 0.9em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0,0,0,0.7);
    box-shadow: inset -10px 0 6px -9px rgba(0,0,0,0.7);
}

.pushy a{
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    text-decoration: none;
}

.pushy a:hover{
    background: #00b4ff;
    color: #FFF;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push {
    overflow-x: hidden;
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container{
    -webkit-transition:all 0.2s cubic-bezier(.16,.68,.43,.99);
    -moz-transition:all 0.2s cubic-bezier(.16,.68,.43,.99);
    -o-transition:all 0.2s cubic-bezier(.16,.68,.43,.99);
    transition:all 0.2s cubic-bezier(.16,.68,.43,.99);
}