/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee, Scss file edited by Ron Willemse */

// Global settings

$primary-background: #191918;
$menu-width: 200px !default;

// Colors

$link-color: #b3b3b1;
$link-color-hover: #fff;
$site-overlay-color: rgba(0, 0, 0, .5);

// Menu Appearance

.pushy {
  background: $primary-background;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; // enables momentum scrolling in iOS overflow elements
  position: fixed;
  top: 0;
  visibility: hidden;
  width: $menu-width;
  z-index: 9999;

  a {
    color: $link-color;
    display: block;
    outline: 0;
    padding: 15px 30px;
    text-decoration: none;
  }

  a:hover {
    color: $link-color-hover;
  }

  ul:first-child {
    margin-top: 10px;
  }

  &.pushy-left {
    left: 0;
  }

  &.pushy-right {
    right: 0;
  }
}

// Menu Movement

.pushy-left {
  -webkit-transform: translate3d(unquote('-' + $menu-width) , 0, 0);
  -ms-transform: translate3d(unquote('-' + $menu-width) , 0, 0);
  transform: translate3d(unquote('-' + $menu-width) , 0, 0);
}

.pushy-open-left {

  #container,
  .push {
    -webkit-transform: translate3d($menu-width , 0, 0);
    -ms-transform: translate3d($menu-width , 0, 0);
    transform: translate3d($menu-width , 0, 0);
    }
}

.pushy-right {
  -webkit-transform: translate3d($menu-width , 0, 0);
  -ms-transform: translate3d($menu-width , 0, 0);
  transform: translate3d($menu-width , 0, 0);
}

.pushy-open-right {

    #container,
    .push {
        -webkit-transform: translate3d(unquote('-' + $menu-width) , 0, 0);
        -ms-transform: translate3d(unquote('-' + $menu-width) , 0, 0);
        transform: translate3d(unquote('-' + $menu-width) , 0, 0);
    }
}

.pushy-open-left,
.pushy-open-right {
  .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

// Menu Transitions

#container,
.pushy,
.push {
  transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

// Site Overlay

.site-overlay {
  display: none;
}

.pushy-open-left,
.pushy-open-right {

  .site-overlay {
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
    background-color: $site-overlay-color;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    }
}

@keyframes fade{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Submenu Appearance

.pushy-submenu {

  ul {
    padding-left: 15px;
    transition: max-height .2s ease-in-out;

    .pushy-link {
      transition: opacity .2s ease-in-out;
    }
  }

  // Submenu Icon

  > a {
    position: relative;
  }

  > a::after {

    background: url('../img/arrow.svg') no-repeat;
    content: '';
    display: block;
    height: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform .2s;
    width: 8px;
    }
}

// Submenu Movement

.pushy-submenu-closed {

  ul {
    max-height: 0;
    overflow: hidden;
  }

  .pushy-link {
    opacity: 0;
  }
}

.pushy-submenu-open {

  ul {
    max-height: 1000px;
  }

  .pushy-link {
    opacity: 1;
  }

  // Submenu Icon

  a::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    }
}

.no-csstransforms3d {

  .pushy-submenu-closed {

    ul {
      display: none;
      max-height: none;
    }
  }
}
